<!DOCTYPE html>
<html lang="kz">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</head>
<body class="text-center">
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <form action="/api/auth/register" method="post" class="card-body p-5 text-center">
                        <h3 class="mb-5">Register</h3>
                        <div class="form-floating mb-4">
                            <input type="text" id="username" pattern="[a-z]*" name="username" class="form-control" required/>
                            <label class="form-label" for="username">Username</label>
                        </div>

                        <div class="form-floating mb-4">
                            <input type="text" id="name" pattern="[a-zA-Z]*" name="name" class="form-control" required/>
                            <label class="form-label" for="name">Name</label>
                        </div>

                        <div class="form-floating mb-4">
                            <input type="text" id="surname" pattern="[a-zA-Z]*" name="surname" class="form-control"/>
                            <label class="form-label" for="surname">Surname</label>
                        </div>

                        <div class="form-floating mb-4">
                            <input type="text" id="address" pattern="[a-zA-Z0-9, /]*" name="address" class="form-control"/>
                            <label class="form-label" for="address">Address</label>
                        </div>

                        <div class="form-floating mb-4">
                            <input type="number" id="number" pattern="[0-9]{10}" name="number" class="form-control"
                                   placeholder="Write without +7 or 8"/>
                            <label class="form-label" for="number">Phone Number</label>
                        </div>

                        <div class="form-floating mb-4">
                            <input type="password" id="password" pattern="[a-zA-Z0-9]*" name="password" class="form-control" required/>
                            <label class="form-label" for="password">Password</label>
                        </div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary mb-2">Register</button>
                        <button type="button" class="w-100 btn btn-secondary"
                                onclick="window.location.href='/auth/login'">Login
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('../components/footer') %>
</body>
</html>