<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        position: relative;
    }

    .footer {
        width: 100%;
        height: 60px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: white;
        border-top: 1px solid #dee2e6;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>
<div class="container fixed-bottom">
    <footer class="footer d-flex flex-wrap justify-content-between align-items-center py-3 border-top" style="background-color: white">
        <div class="col-md-4 d-flex align-items-center">
            <span class="text-muted">Ali Orymbayev</span>
        </div>
    </footer>
</div>