<div class="container fixed-bottom">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top" style="background-color: white">
        <div class="col-md-4 d-flex align-items-center">
            <span class="text-muted">Ali Orymbayev</span>
        </div>
    </footer>
</div>