<!DOCTYPE html>
<html lang="kz">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</head>
<body class="text-center">
<%- include('../../components/header'); %>

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem">
                    <div class="card-body p-5 text-center">
                        <form method="post" class="card-body p-5 text-center" id="formContainer">
                            <h3 class="mb-5">Update Comment</h3>
                            <div class="form-floating mb-4">
                                <input type="text" id="commentText" pattern="[a-zA-Z]*" name="commentText" class="form-control" required/>
                                <label class="form-label" for="commentText">Comment</label>
                            </div>

                            <div class="form-floating mb-4">
                                <select name="rating" id="rating" class="form-control">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <label class="form-label" for="rating">Rating</label>
                            </div>
                            <button type="submit" class="w-100 btn btn-lg btn-primary mb-2">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('../../components/footer'); %>

<script>
    function extractIdsFromUrl(url) {
        const segments = url.split("/")
        const productId = segments[5]
        const commentId = segments[8]
        return { productId, commentId}
    }

    const url = window.location.href
    const { productId} = extractIdsFromUrl(url)
    const { commentId} = extractIdsFromUrl(url)

    const formContainer = document.getElementById('formContainer')
    formContainer.action = `/api/comment/update/${commentId}/product/${productId}`
</script>
</body>
</html>
